.record {
  text-align: center;
}
.age-container {
  display: inline-block;
}
.age-container h2 {
  display: inline-block;
  margin-right: 20px;
}

.age-container button {
  margin: 10px;
  font-size: 16px;
}

.nav-link {
  color: #fff !important;
}
.carousel-width {
  margin: 0px;
  max-width: 100%;
}
.product-card-group {
  padding: 40px 80px ;
}